<div class="row bio" >
  <div class="picture">
    <%= image_tag 'headshot', class: 'img-responsive' %>
  </div>

  <div class="text">
    <h3>Christopher Bateson</h3>

    <div class='bio-info'>
      <h1>Full Stack Developer. Hungry for Learning, Walker of trails, and Fun.</h1>
      <h5>
        Chicago-based full stack developer at The Difference Engine, actively seeking new opportunities. In July 2017 I graduated from Actualize and am currently improviing his skills in Ruby on Rails, Javascript, React, and Swift iOS Development. Hit me up!
      </h5>
    </div>

    <div class="bio-links">
      <h6><a href="#">My Portfolio</a></h6>
      <h6><a href="#">Github</a></h6>
      <h6><a href="mailto:cpbateson@gmail.com">Contact Me</a></h6>
    </div>
  </div>
</div>

<div class="on-the-dot">
  <div class="dot-text">
    w
  </div>

  <div class="dot-images">

     <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img class="d-block w-100" src="..." alt="First slide">
         </div>
         <div class="carousel-item">
           <img class="d-block w-100" src="..." alt="Second slide">
         </div>
         <div class="carousel-item">
           <img class="d-block w-100" src="..." alt="Third slide">
         </div>
       </div>
     </div>

  </div>
</div>