* {
  // border: 1px solid red;
}

@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Rubik:300,400,500';

@mixin flexible($direction: row, $justify: space-evenly, $align: center, $flex: false) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;

  display: -webkit-flex;
  display: flex;

  @if $flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    height: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 4;
  }

  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  background: white;
}

body:after {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;

  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);

  z-index: 100;
}

.bio {
  height: 100%;
  margin: 0;
  padding: 0;
  background:white;

  .picture {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      min-height: 100vh;
      min-width: 50vw;
      padding: 0;
      margin: 0;
    }
  }

  .text {
    width: 50%;
    height: 100vh;
    @include flexible(column, space-around, center, true);

    .bio-info, h3, .bio-links{
      width: 66%;
    }

    .bio-links {
      font-family: 'Libre Baskerville';
    }

    h3 {
      font-family: 'Rubik';
      font-weight: 400;
    }

    h5 {
      font-family: 'Rubik';
      font-weight: 400;
      font-size: 1.3rem;
    }

    .bio-info {
      h1 {
        margin-bottom: 40px;
        font-family: 'Rubik';
        font-size: 2.3rem;
        font-weight: 500;
      }
    }
  }

  .bio-links {
    @include flexible(row, space-between, baseline);
  }
}

.projects{
  height: 100%;
  margin: 0;
  padding: 0;

  .proj-text {
    height: 100%;
    width: 100%;
    @include flexible(column, space-evenly, center);
    flex-grow: 1;

    h1, p, ul, .title {
      width: 80%;
    }

    h1 {
      font-family: 'Rubik';
      font-weight: 500;
    }

    p {
      font-family: 'Rubik';
      font-weight: 300;
    }

    p.description {
      font-size: 1rem;
    }
  }

  .images {
    @include flexible(column, center);
    // background: black;
    overflow: hidden;
  }
}

.on-the-dot {
  .images {
    background: -webkit-linear-gradient(white, #A8DBEC);
    background: -o-linear-gradient(white, #A8DBEC);
    background: -moz-linear-gradient(white, #A8DBEC);
    background: linear-gradient(white, #A8DBEC);
  }
}

.vet-work {
  .images {
    background: -webkit-linear-gradient(#A8DBEC, #55B9DA);
    background: -o-linear-gradient(#A8DBEC, #55B9DA);
    background: -moz-linear-gradient(#A8DBEC, #55B9DA);
    background: linear-gradient(#A8DBEC, #55B9DA);
  }
}


.logo {
  border-radius: 500px;
}

ul.keywords {
  list-style: none;
  @include flexible(row, flex-start, flex-start);
  flex-wrap: wrap;
  padding: 0;

  li {
    font-size: 0.6rem;
    font-family: 'Libre Baskerville', serif;
    pointer-events: none;
    background: #19677f;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 5px;
    box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.7);
  }
}

.look-at-me {
  background: #55B9DA;
  background: -webkit-linear-gradient(#55B9DA, white);
  background: -o-linear-gradient(#55B9DA, white);
  background: -moz-linear-gradient(#55B9DA, white);
  background: linear-gradient(#55B9DA, white);

  h1 {
    font-family: 'Rubik';
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    padding-top: 5%;
    font-size: 3.5rem;
    text-shadow: 2px 3px 3px rgba(140, 140, 140, 0.4);
  }

  ul {
    list-style: none;
    margin: 20px auto;
    width: 80%;
    padding: 0;

    @include flexible(row, space-between, flex-start);
    flex-wrap: wrap;
    padding-bottom: 40px;

    li {
      float: left;
      height: auto;
      width: 270px;
      overflow: hidden;
      margin: 35px;
      box-shadow: 5px 5px 5px #333;
      img {
        height: 270px;
        width: auto;
      }
    }
  }
}

.social {
  height: 20%;
  @include flexible(column, center, flex-start);

  ul {
    font-family: 'Libre Baskerville';

    padding: 0;
    width: 80%;
    margin: 50px auto;
    list-style: none;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    align-items: middle;
    flex-wrap: nowrap;

    li {
      padding: 5px;
      height: 100%;

    }
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px ) {

  body {
  }

  .bio {
    height: 200vh;
    .text {
      height: 50%;
    }
  }

  .projects {
    height: 200vh;
    .proj-text {
      height: 50%;
    }

    .images {
    }
  }

  .look-at-me {
    ul {
      li {
        float: none;
        display: block;
        margin: 10px auto;

      }
    }
  }

}