html, body {
  width: 100%;
  height: 100%;
  // font-size: 2vw;
  font-size: 20px;
}


.bio {
  height: 100%;
  margin: 0;
  padding: 0;

  .picture {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      min-height: 100vh;
      min-width: 50vw;
      padding: 0;
      margin: 0;
    }
  }

  .text {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .bio-info, h3, .bio-links{
      width: 66%;
    }

    .bio-info {
      h1 {
        margin-bottom: 40px;
      }
    }
  }

  .bio-links {
    display: flex;
    justify-content: space-between;
  }
}

.projects{
  height: 100%;
  margin: 0;
  padding: 0;
}

.proj-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1, p, ul, .title {
    width: 80%;
  }
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  overflow: hidden;
}

ul.keywords {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  float: left;

  li {
    font-size: 0.7rem;
    pointer-events: none;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 5px;
  }
}

.on-the-dot {

  .dot-text, .dot-images {
    height: 100%;
  }

  .dot-images {
  }
}

.vet-work {

  .vet-images, .vet-text {
    height: 100%;
  }

  .vet-images {
  }
}

.look-at-me {
  background: #777;

  h1 {
    text-align: center;
    padding-top: 5%;
  }

  ul {
    margin: 20px auto;
    width: 80%;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      float: left;
      height: 300px;
      width: 300px;
      overflow: hidden;
      margin: 35px;
      img {
        height: 400px;
        width: auto;
      }
    }
  }
}

.social {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    padding: 0;
    width: 80%;
    margin: 50px auto;
    list-style: none;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    li {
      padding: 5px;
      height: 100%;

    }
  }

  p {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 50px;
  }
}